[submodule "gibMacOS"]
	path = gibMacOS
	url = https://github.com/corpnewt/gibMacOS.git
[submodule "SSDTTime"]
	path = SSDTTime
	url = https://github.com/corpnewt/SSDTTime.git
[submodule "ProperTree"]
	path = ProperTree
	url = https://github.com/corpnewt/ProperTree.git
[submodule "GenSMBIOS"]
	path = GenSMBIOS
	url = https://github.com/corpnewt/GenSMBIOS.git
[submodule "itlwm"]
	path = itlwm
	url = https://github.com/zxystd/itlwm.git
[submodule "HeliPort"]
	path = HeliPort
	url = https://github.com/zxystd/HeliPort.git
[submodule "IntelBluetoothFirmware"]
	path = IntelBluetoothFirmware
	url = https://github.com/zxystd/IntelBluetoothFirmware.git
